<h1>Employee Portal</h1>

<div class="">
  <p>
    I want to:
  </p>
  <a href="/animals/new">
    <button class="btn btn-default">
      Add an Animal
    </button>
  </a>
  <a href="/animals">
    <button class="btn btn-default">
      View Animals
    </button>
  </a>
  <a href="/customers/new">
    <button class="btn btn-default">
      Add a Customer
    </button>
  </a>
  <a href="/customers">
    <button class="btn btn-default">
      View Customers
    </button>
  </a>
</div>
