<h1>Welcome to Helter Shelter</h1>

<div class="">
  <p>
    I am:
  </p>
  <a href="/employee">
    <button class="btn btn-default">
      An Employee
    </button>
  </a>
  <a href="/animals">
    <button class="btn btn-default">
      A Customer
    </button>
  </a>
</div>
